# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=deruta
DB_PASSWORD=deruta
DB_NAME=deruta

# Backend
API_PORT=3000
API_PREFIX=api/v1
API_CORS_ORIGIN=http://localhost:4200

# JWT
JWT_SECRET=cambiar_esto_por_un_secreto_largo_y_aleatorio_en_produccion
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Frontend
WEB_URL=http://localhost:4200
